PRIVATE_KEY=your_private_key_here
HSP_APP_KEY=your_hsp_app_key
HSP_APP_SECRET=your_hsp_app_secret
HSP_MERCHANT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
HSP_API_BASE=https://merchant-qa.hashkeymerchant.com
HSP_MERCHANT_NAME=SLAA Protocol
HSP_USDC_ADDRESS=0x8FE3cB719Ee4410E236Cd6b72ab1fCDC06eF53c6
HSP_PROXY_URL=https://your-hsp-proxy.example
NEXT_PUBLIC_HASHKEY_TESTNET_RPC=https://testnet.hsk.xyz
JOB_ESCROW_ADDRESS=0x50F0f34B26936B81AAc9EE8458c71A32CA90CFD3
NEXT_PUBLIC_APP_URL=http://localhost:3000
