PRIVATE_KEY=your_private_key_here
HSP_APP_KEY=pending
HSP_APP_SECRET=pending
HSP_MERCHANT_PRIVATE_KEY_PATH=./merchant_private_key.pem
HSP_API_BASE=https://merchant-qa.hashkeymerchant.com
HSP_MERCHANT_NAME=SLAA
NEXT_PUBLIC_HASHKEY_TESTNET_RPC=https://testnet.hsk.xyz
JOB_ESCROW_ADDRESS=
NEXT_PUBLIC_APP_URL=http://localhost:3000
