node_modules/
.env
.env.local
.env.*.local
artifacts/
cache/
typechain-types/
deployments/
merchant_private_key.pem
merchant_public_key.pem
*.log
.DS_Store
frontend/.next/
frontend/node_modules/
merchant_private_key.pem
merchant_private_key_pkcs8.pem
frontend/.env.local
